<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuempresa.wioocliente">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:theme="@style/LaunchTheme">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:immersive="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="wioocliente"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
